extends layout
block content

  section

    h2 About Scribemania

    p Scribemania allows people to create and watch stories, fun or serious, evolve in real-time as they contribute to them.
    p Created and developed by
      a(href="https://twitter.com/fsbrooke")  Fabien Brooke
      |.