extends layout
block content

  section.about-page

    h2 About Scribemania

    p Scribemania allows people to create and watch stories, fun or serious, evolve in real-time as they contribute to them.
