extends layout
block content

  form(action="/new", method="POST")

    section
      label(for="story-title") Title
      input#story-title(name="title", type="text")

      label(for="story-starter") Opening paragraph
      textarea#story-starter(name="paragraph", spellcheck="true")

      button.submit-new(type="submit") Add Story