extends layout
block content

  form.add-story(action='/stories', method='POST')

    section
      h2 Begin a Story

      label(for='story-title') Story Title
      input#story-title(name='title', required='true', type='text')

      label(for='story-starter') Opening Paragraph
        a.label-caption.generate-starter(href='javascript:;') (or generate a starter)
      textarea#story-starter(name='paragraph', required='true', spellcheck='true')

      div
        label(for'group-select') Group (who can write)
        select#group-select(name='group')
          option(value='') Public
          each group in groups
            option(value=group._id) #{group.name}

      label(for='story-genre') Intended Genre
      input#story-genre(name='genre', placeholder='Eg: fantasy', type='text')

      input(type='hidden', name='_csrf', value=_csrf)

      button.submit-new(type='submit') Add Story
