extends layout
block content

  .content-header
    h2 Find stories by genre

  form.genre-search(action="/genres", method="GET")
    input.genre-search-input(type="text", name="genre", autocomplete="off", autofocus="true")
    .search-button.button-icon
      a(title="Search", href="javascript:;")
        i.fa.fa-search

  if stories
    if stories.length > 0
      .summaries
        each story in stories
          include summary
    else
      section
        h2 No #{searchTerm} stories available.
        p
          a(href="/new") Write your own!
  else
    section.popular-genres
      h2 Popular Genres
      each genre in genres
        a.box-link(href="/genres/#{genre.name}") #{genre.name[0].toUpperCase() + genre.name.substring(1)}
