extends layout
block content

  .content-header
    h2 Find groups to join

  form.search-form.group-search(action="/groups", method="GET")
    input.search-input(type="text", name="group", autocomplete="off", autofocus="true")
    .search-button.button-icon
      a(title="Search", href="javascript:;")
        i.fa.fa-search

  section.user-groups
    h2 Your Groups
    each group in groups
      a.box-link(href="/groups/#{group.slug}") #{group.name[0].toUpperCase() + group.name.substring(1)}
    if groups.length < 1
      p You don't belong to any groups yet.

  form.create-group(action='/groups', method='POST')

    section

      h2 Create a New Group

      label(for='group-name') Group Name
      input#group-name(name='name', required='true', type='text')

      .radio-button-group
        label(for='write-access-public') Public (anyone can join)
        input#write-access-public(name='write-access', type='radio', value='public')
        label(for='write-access-private') Private (only members can add other members)
        input#write-access-private(name='write-access', type='radio', value='private' checked)

      label.full-line(for='description') Description
      textarea#description(name='description', required='true', spellcheck='true')

      label(for='members') Other Members
      input#members.input-list(name='members', type='text')

      input(type='hidden', name='_csrf', value='#{_csrf}')

      button.submit-group(type='submit') Create Group