header
  .header-titles
    if displayName
      a.account-links(href="javascript:;")
        h2.user-name #{displayName}
        i.fa.fa-bars
    else
      a.account-links(href="/join")
        h2.user-join Join
        i.fa.fa-user
    a(href="/")
      h1.logo
