header
  .header-titles
    if displayName
      a.account-links(href="javascript:;")
        h2.user #{displayName}
        i.fa.fa-user
    else
      a.account-links(href="/join")
        h2.user Join
        i.fa.fa-user
    h1: a(href="/") Scribemania
