header
  .header-titles
    a.logo(href="/")
    a.logo-type(href="/")
    if user
      a.account-links(href='/users/#{user.id}')
        h2.user-name #{user.displayName}
        i.fa.fa-user
    else
      a.account-links(href="/join")
        h2.user-join Join

