header
  .page
    if username
      h2.user: a(href="/users/#{username}") #{username} <i class="icon-user"></i>
    else
      h2.user: a#login(href="/login") Log In <i class="icon-user"></i>
    h1: a(href="/") Scribemania