extends layout

block content
  #content
    
    h2 Coming soon!

    section.story
      p Welcome to the first Scribemania story. This is paragraph one. Click to enter a new paragraph.

      textarea
      span.enter-hint Hit shift + enter to add your paragraph