extends layout

block content
  #content

    section.story
      h2 The First Story
      p Welcome to the first Scribemania story. This is paragraph one. Click to enter a new paragraph.

      textarea(spellcheck="true")
      span.enter-hint Hit shift + enter to add your paragraph