extends layout
block content

  section.login

    h2 Log in to Scribemania

    .login-providers

      a(href="/auth/facebook").login-provider.login-facebook
        i.fa.fa-facebook
        span Join using Facebook