extends layout
block content

  section.login

    h2 Log in to Scribemania

    .login-providers

      a(href="/auth/facebook").login-provider.login-facebook
        i.fa.fa-facebook
        span Join using Facebook
      a(href="/auth/google").login-provider.login-google
        i.fa.fa-google-plus
        span Join using Google
      a(href="/auth/twitter").login-provider.login-twitter
        i.fa.fa-twitter
        span Join using Twitter

  script(data-main="/scripts/login/main", src="/vendor/requirejs.min.js")