extends layout
block content

  .content-header
    h2 Latest stories
    a.box-link.refresh-latest(href="/latest", title="new stories created")

  if stories && stories.length > 0
    .summaries
      each story in stories
        include summary
  else
    section
      h2 No stories yet.
      p
        a(href="/new") Write your own!
