extends layout
block content

  if stories && stories.length > 0
    each story in stories
      include summary
  else
    section
      h2 No stories available.
      p
        a(href="/new") Write your own!

  script(data-main="/scripts/latest/main", src="/vendor/requirejs.min.js")