extends layout
block content

  each story in stories

    section.story(data-story-id="#{story._id}")
      include storyStartedInfo
      h2 #{story.title}

      p #{story.paragraphs[0].text}
      p.read-more
        a(href="/stories/#{story._id}") <i class="icon-double-angle-right"></i> Read/write more


  if stories.length < 1
    section
      h2 No stories here yet. Time to <a href="/new">write</a> some!


  script(data-main="/scripts/latest/loader", src="/vendor/requirejs.min.js")