doctype 5

html

  head

    title Scribemania
    link(rel='stylesheet', href='/vendor/custom-font-awesome/fontawesome.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src="//use.typekit.net/sow4qhi.js")
    script try{Typekit.load();}catch(e){}

  body

    header
      .page
        h1: a(href="/") Scribemania
        span.user: a(href="/login").
         Log In <i class="icon-user"></i>

    .page

      nav
        ul
          li: a(href='/new').
                <i class="icon-edit icon-2x"></i>New
          li: a(href='/latest').
            <i class="icon-bolt icon-2x"></i>Latest
          li: a(href='/genres').
                <i class="icon-tags icon-2x"></i>Genres
          li: a(href='/groups').
                <i class="icon-group icon-2x"></i>Groups

      #content
        block content