doctype 5

html

  head

    title Scribemania
    link(rel='stylesheet', href='/styles/style.css')
    script(src="//use.typekit.net/nzx0ybl.js")
    script try{Typekit.load();}catch(e){}

  body

    header
      .page
        h1
            a(href="/") Scribemania

    .page

      nav
        ul
          li.selected: a(href='#') Latest
          li: a(href='#') Genres
          li: a(href='#') Groups
          li: a(href='#') About

      block content

    script(src='/scripts/vendor/json2.min.js')
    script(src='/scripts/vendor/jquery-1.9.1.min.js')
    script(src='/scripts/vendor/underscore.min.js')
    script(src='/scripts/vendor/backbone.min.js')