doctype html

html

  head

    title Scribemania

    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/vendor/font-awesome-4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/main.css')
    |<!--[if lt IE 9]>
    |  <script src="/vendor/html5shiv-printshiv.js"></script>
    |<![endif]-->

    script(src="/scripts/requirejs-config.js")

  body

    include header

    include navigation

    .content

      include alerts

      block content