doctype 5

html

  head

    title Scribemania
    link(rel='stylesheet', href='/styles/style.css')
    script(src="//use.typekit.net/nzx0ybl.js")
    script try{Typekit.load();}catch(e){}

  body

    header
      .page
        h1: a(href="/") Scribemania
        .navicons
            a(href="/") Home

    .page

      nav
        ul
          li: a(href='#') Add New Story

      block content

    script(data-main="/scripts/loader", src="/vendor/requirejs.min.js")