doctype 5

html

  head

    title Scribemania

    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/vendor/custom-font-awesome/fontawesome.css')
    link(rel='stylesheet', href='/styles/main.css')
    |<!--[if lt IE 9]>
    |  <script src="/vendor/html5shiv-printshiv.js"></script>
    |<![endif]-->

    script(src="/scripts/requirejs-config.js")

  body

    include header

    .page
      include nav
      #content
        include alerts
        block content