doctype html

html

  head

    title Scribemania

    meta(name='description', content='Scribemania allows people to write and watch stories, fun or serious, evolve in real-time as they contribute to them.')
    meta(name="viewport", content="width=device-width")
    if _csrf
      meta(name='csrf-token', content='#{_csrf}')

    link(rel='icon', href='/images/scribemania-logo32.png')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Raleway:200,300,400,500", type="text/css')
    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/vendor/font-awesome-4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/styles/main.css')

  body

    include header

    include navigation

    .content

      include alerts

      block content

    if user
      .user-init #{JSON.stringify(user)}

    script(src="/scripts/requirejs-config.js")
    script(data-main="/scripts/main", src="/vendor/requirejs.min.js")
