doctype 5

html

  head

    title Scribemania
    link(rel='stylesheet', href='/vendor/custom-font-awesome/fontawesome.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src="//use.typekit.net/nzx0ybl.js")
    script try{Typekit.load();}catch(e){}

  body

    header
      .page
        h1: a(href="/") Scribemania
        span.user: a(href="/account").
         [User] <i class="icon-user"></i>

    .page

      nav
        ul
          li: a(href='/latest').
            <i class="icon-bolt icon-2x"></i>Latest
          li: a(href='/new').
              <i class="icon-edit icon-2x"></i>New

      #content
        block content

    script(data-main="/scripts/loader", src="/vendor/requirejs.min.js")