extends layout
block content

  form#login-form(action="/login", method="POST")

    section.login
      label(for="username") Name or Email
      input#username(name="username", required, autocomplete="on", type="text")

      label(for="password") Password
      input#password(name="password", required, type="password")

      button(type="submit") Log In

      a.signup-link(href="/signup") Need to sign up?

  script(data-main="/scripts/login/main", src="/vendor/requirejs.min.js")