nav
  ul
    li: a(href='/new').
        <i class="icon-plus"></i>
    li: a(href='/latest').
        <i class="icon-bolt"></i>
    li: a(href='/favorites').
        <i class="icon-paper-clip"></i>
    li: a(href='/groups').
        <i class="icon-group"></i>
    li: a(href='/genres').
        <i class="icon-tags"></i>