nav
  ul
    li: a(href='/new')
        i.icon-plus
    li: a(href='/latest')
        i.icon-bolt
    li: a(href='/starred')
        i.icon-star
    li: a(href='/groups')
        i.icon-group
    li: a(href='/genres')
        i.icon-tags