nav
  ul
    li: a(title='Start a story', href='/new')
        i.icon-plus
    li: a(title='Latest stories', href='/latest')
        i.icon-bolt
    li: a(title='Your starred stories', href='/starred')
        i.icon-star
    li: a(title='Groups', href='/groups')
        i.icon-group
    li: a(title='Genres', href='/genres')
        i.icon-tags