nav
  ul
    li.button-icon: a(title='New', href='/new')
      i.fa.fa-plus
    li.button-icon: a(title='Latest', href='/latest')
      i.fa.fa-bolt
    li.button-icon: a(title='Your Starred Stories', href='/starred')
      i.fa.fa-star
    li.button-icon: a(title='Genres', href='/genres')
      i.fa.fa-tags
    li.button-icon: a(title='Groups', href='/groups')
      i.fa.fa-group

  aside.about
    a(href="/about") About
