extends layout
block content

  form(action="/new", method="POST")

    section.add-story
      label(for="story-title") Story Title
      input#story-title(name="title", type="text")

      label(for="story-starter") Opening paragraph
      textarea#story-starter(name="paragraph", spellcheck="true")

      label(for="story-genre") Intended Genre
      input#story-genre(name="genre", placeholder="Eg: fantasy", type="text")

      button.submit-new(type="submit") Add Story

  script(data-main="/scripts/start/loader", src="/vendor/requirejs.min.js")