extends layout
block content

  if stories && stories.length > 0
    .summaries
      each story in stories
        include summary
  else
    section
      h2 No stories starred
      p
        a(href="/latest") Find some you like!
