.star
  span.star-number #{story.starredBy.length}
  - var className = 'star-action';
  - var href = 'javascript:;';
  - if (!user || !user.id) {
    - className = '';
    - href = '/login';
  - }
  a(class="#{className}", title="Favorite", href="#{href}")
    if story.starred
      i.fa.fa-star.user-starred
    else
      i.fa.fa-star-o
