extends layout
block content

  section.story(data-story-id="#{story._id}")
    include storyStartedInfo
    h2 #{story.title}

    each paragraph in story.paragraphs
      p #{paragraph.text}

    textarea#paragraph-input(spellcheck="true")
    .enter-hints
      .start-writing <i class="icon-pencil"></i> Click the story to start writing
      .add-paragraph <i class="icon-pencil"></i> Hit shift + enter to add your paragraph
      .login-hint: a(href="/login") <i class="icon-user"></i> Log in to join in!


  script(data-main="/scripts/story/loader", src="/vendor/requirejs.min.js")