extends layout
block content

  section.story(data-story-id="#{story._id}")

    include star

    h2 #{story.title}

    include story-start-info

    each paragraph in story.paragraphs
      p #{paragraph.text}

    textarea#paragraph-input(spellcheck="true")

    .enter-hints
      .start-writing <i class="fa fa-pencil"></i> Click the story to start writing
      .add-paragraph <i class="fa fa-pencil"></i> Hit shift + enter to add your paragraph
      .login-hint: a(href="/join") <i class="fa fa-user"></i> Log in to join in!
      .typing-users


  script(data-main="/scripts/story/main", src="/vendor/requirejs.min.js")