extends layout
block content

  .content-header
    h2 #{displayName}

  if stories && stories.length > 0
    each story in stories
      include summary
  else
    section
      h2 No stories available.
      p
        a(href="/new") Write your own!
