extends layout
block content

  .content-header
    h2 #{profileUser.displayName}

    if user && user.id == profileUser._id
      a.user-logout(href='/logout') Log Out

  if stories && stories.length > 0
    each story in stories
      include summary
  else
    section
      h2 No stories yet.
      p
        a(href='/new') Write your own!
