#alerts
  margin-top: 30px
.alert
  padding: 5px 15px
  border: 1px solid rgba($scribemaniaBlue, 0.15)
  border-width: 0.2rem
  border-radius: 5px
  background-color: #C9C9C9
  font-size: 1.4rem
  transition: all .2s
  .close
    font-weight: bold
    float: right