.alert
  margin-bottom: 20px
  padding: 5px 15px
  border: 2px solid $scribemaniaBlue
  border-width: 0.2rem
  border-radius: 5px
  background-color: lighten(red, 75%)
  background-color: rgba(lighten(#7d2213, 75%), 0.5)
  font-size: 1.2rem
  color: $scribemaniaBlue
  transition: all .2s
  &:hover
    background-color: lighten(#7d2213, 75%)
    box-shadow: inset 1px -1px 1px lighten($scribemaniaBlue, 66%)
    transition: all .2s
  .close
    font-weight: bold
    float: right