button
  cursor: pointer
  background-color: lighten($scribemaniaGreen, 75%)
  border: 2px solid darken($scribemaniaGreen, 33%)
  box-shadow: inset 1px -1px 1px lighten($scribemaniaGreen, 33%)
  padding: 4px 10px
  min-width: 90px
  border-radius: 5px
  font: 14px $titleFont
  transition: background-color 0.2s, box-shadow 0.2s
  &:hover, &:focus
    background-color: lighten($scribemaniaGreen, 66%)
    transition: background-color 0.2s
  &:active, &:focus
    outline: none
    box-shadow: none
    transition: box-shadow 0.2s

.button-icon
  font-size: 18px
  list-style: none
  display: inline-block
  background-color: black
  padding: 4px
  border-radius: 50px
  a
    display: inline-block
    padding: 9px
    background-color: #fafafa
    border-radius: 200px
    &:hover
      color: #fafafa
      background-color: lighten($scribemaniaGreen, 15%)
  .fa
    display: inline-block
    width: 1.25em
    text-align: center

.box-link
  padding: 5px
  border-radius: 4px
  background-color: rgba($scribemaniaBlue, 0.1)
  &:hover
    background-color: rgba($scribemaniaBlue, 0.25)
