@font-face
  font-family: Museo300Regular
  src: url('/fonts/Museo300-RegularWeb.eot')
  src: url('/fonts/Museo300-RegularWeb.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Museo300-RegularWeb.woff') format('woff')

@font-face
  font-family: 'Raleway'
  src: url('/fonts/raleway_thin-webfont.eot')
  src: url('/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/raleway_thin-webfont.woff') format('woff'),
    url('/fonts/raleway_thin-webfont.ttf') format('truetype'),
    url('/fonts/raleway_thin-webfont.svg#raleway-thin') format('svg')