.genre-search
  text-align: center
  font-size: 2.2rem
  & > .search-button
    margin-left: 20px
    line-height: 1.3
    a
      transition: all 0.2s

.genre-search-input
  display: inline-block
  background: transparent
  margin-top: 25px
  width: 40%
  box-sizing: border-box
  outline: none
  border: none
  border-bottom: 1px solid rgb(102, 102, 102)
  padding: 5px 4%
  box-shadow: none
  font-size: 2.2rem
  &:focus
    box-shadow: none
    border: none
    border-bottom: 1px solid rgb(102, 102, 102)

.popular-genres a
    padding: 5px
    margin-right: 2%
    border-radius: 4px
    background-color: rgba($scribemaniaBlue, 0.1)
    &:hover
      background-color: rgba($scribemaniaBlue, 0.25)