h2
  font-size: 22px

header
  box-sizing: border-box
  height: 60px
  z-index: 9
  position: fixed
  left: 0
  right: 0
  top: 0
  background: $scribemaniaGreen
  padding: 10px 0
  clear: both
  text-transform: uppercase
  font-family: $titleFont
  a:hover
    color: lighten($scribemaniaGreen, 90%)
  .logo, .logo-type
    float: left
    display: inline-block
  .logo-type
    background: url('/images/sheets/logos.svg') no-repeat -2px -45px
    height: 40px
    width: 160px
  .account-links
    color: rgba(#fafafa, 0.9)
    display: inline-block
    float: right
    line-height 30px
    margin-top: 2px
    h2
      background-color: lighten($scribemaniaGreen, 15%)
      padding: 4px 20px
      border-radius: 2px
      font-size: 16px
      display: inline-block
      transition: background-color 0.2s
      &:hover
        background-color: lighten($scribemaniaGreen, 20%)

.header-titles
  margin: 0 50px 0 80px

.content-header
  position: relative
  text-align: center
  margin-top: 40px
  font-family: $titleFont
  font-weight: 300
  h2
    display: inline-block
  .refresh-latest
    display: none
    border-radius: 25px
    position: absolute
    right: 0
    margin-right: 20px
    font-family: $storyFont
    width: 25px
    color: #006400
    &:hover
      color: lighten($sectionsLinks, 15%)


@media (max-width: 919px)
  header
    .logo-type
      background-position: -2px -2px
      width: 45px
      height: 45px
  .header-titles
    margin: 0 30px 0 14px
