header
  font-size: 2.8rem
  background: $headerBG
  background: linear-gradient(top, lighten($headerBG, 5%), black)
  padding: 10px 0
  margin-bottom: 20px
  clear: both
  a
    color: lighten($scribemaniaGreen, 10%)
  a:hover
    color: lighten($scribemaniaGreen, 20%)
  h1
    margin-left: 20px
  .user
    font-size: 2.4rem
    float: right
    margin-right: 20px
    padding-top: 2px