header
  z-index: 9
  position: relative
  font-size: 30px
  background: $headerBG
  background: linear-gradient(top, lighten($headerBG, 5%), black)
  padding: 10px 0
  clear: both
  a
    color: lighten($scribemaniaGreen, 10%)
  a:hover
    color: lighten($scribemaniaGreen, 20%)
  h1
    margin-left: 20px
  .account-links
    display: inline-block
    font-size: 24px
    float: right
    line-height 40px
    h2
      display: inline-block
    .fa-user
      margin-left: 10px

.header-titles
  width: 95%
  margin: 0 auto

@media (max-width: 919px)
  header .account-links h2
    display: none

