textarea, input, .paragraph-input, .token-input-list
  font: 14px $storyFont
  box-sizing: border-box
  border-radius: 3px
  width: 100%
  padding: 5px
  border: 1px solid #babdc3

textarea, .paragraph-input
  min-height: 80px

label, input, textarea, .token-input-list
  display: block
  &.user-warning
    border-color: $scribemaniaBlue
    color: $scribemaniaBlue
    box-shadow: 0 0 1px 1px lighten($scribemaniaBlue, 10%)
  &.user-error
    transition: none
    border-color: #a00000
    color: #a00000
    box-shadow: 0 0 1px 1px rgba(#a00000, 0.5)

label
  display: inline-block
  margin-bottom: 5px
  margin-top: 5px

label.full-line
  display: block

label.radio-group-label
  display: block
  margin-bottom: 0

.label-caption
  display: inline-block
  margin-left: 5px

form
  input, textarea, .token-input-list
    margin-bottom: 10px
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075)
    transition: background-color .3s ease-in-out, box-shadow .3s ease-in-out, border .3s ease-in-out

input[type=checkbox], input[type=radio]
  width: auto

input[type=radio]
  display: inline-block

.radio-button-group
  label
    margin-top: 0
    margin-left: 15px
  label:first-child
    margin-left: 0
  input[type=radio]
    margin:0 10px 0 10px

label + select
  display: block
  margin-bottom: 10px
