.login-providers
  text-align: center
.login-provider
  display: inline-block
  padding: 5px 15px
  margin-top: 20px
  font-size: 16px
  font-family: $titleFont
  color: white
  border-radius: 4px
  opacity: 0.8
  margin-left: 40px
  transition: opacity 0.2s
  &:first-child
    margin-left: 0
  &:hover
    opacity: 1
    transition: opacity 0.2s
    color: white
  .fa
    display: inline-block
    font-size: 22px
    margin-right: 10px
    vertical-align: middle

@media (max-width: 919px)
  .login-provider
    display: block
    margin-left: 0
    padding-top: 8px
    padding-bottom: 8px

.login-facebook
  background-color: #223173

.login-google
  background-color: #C0000E

.login-twitter
  background-color: #1684e5
