@import "nib"

@import "font-faces"

$maxContentWidth = 720px
$navBGGradient = 0
$scribemaniaGreen = #2e7b2d
$scribemaniaBlue = #10363B
$storyBG = #F4F9F6
$headerBG = #1C1C1C
$storyFont = Museo300Regular, 'Helvetica Neue', 'Helvetica', Arial, sans-serif
$titleFont = Raleway, 'Helvetica Neue', 'Helvetica', Arial, sans-serif

html
  font-size: 62.5%

body
  font: 1.5rem $storyFont
  background-color: #fafafa
a
  text-decoration: none
  color: black
  transition: color 0.4s ease-out, background-color 0.4s ease-out, font-size 0.4s ease-out
  &:hover
    color: $scribemaniaGreen
    transition: color 0.2s ease-in, background-color 0.2s ease-in, font-size 0.2s ease-in

@import "header"

@import "button"

@import "navigation"

@import "sections"

@import "inputs"

@import "genre-search"

@import "alerts"

.join-link
  display: inline-block
  margin-top: 20px

.typekit-badge
  display: none !important