@import "nib"

@import "font-faces"

$maxContentWidth = 900px
$navBGGradient = 0
$scribemaniaBlue = #10363B
$storyBG = #F4F9F6
$scribemaniaGreen = #1D3B32
$storyFont = Museo300Regular, 'Helvetica Neue', 'Helvetica', Arial, sans-serif
$titleFont = Raleway, 'Helvetica Neue', 'Helvetica', Arial, sans-serif
$sectionsLinks = #2f5f2f
$mediaQuerySmallWidth = 919px
$hoverTransitionOff = color 0.2s ease-in, background-color 0.2s ease-in, font-size 0.2s ease-in
$hoverTransitionOn = color 0.2s ease-out, background-color 0.2s ease-out, font-size 0.2s ease-out

.user-init
  display: none

body
  font: 15px $storyFont
  background-color: #fafafa

a
  text-decoration: none
  color: black
  transition: $hoverTransitionOff
  &:hover
    color: lighten($sectionsLinks, 15%)
    transition: $hoverTransitionOn

@import "header"

@import "button"

@import "navigation"

@import "login"

@import "sections"

@import "inputs"

@import "genre-search"

@import "token-input"

@import "alerts"