nav
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 1
  background-color: rgba(#f8f8f8, 0.75)
  font-weight: 100
  text-align: center
  text-transform: uppercase
  padding: 7px 0
  border-width: 0
  border-top-width: 3px
  border-top: 3px solid rgba(black, 0.85)
  -moz-border-image: -moz-radial-gradient(center center, ellipse closest-side, rgba(black, 0.85) 90%, darken(white, 25%) 100%) 100
  -webkit-border-image: -webkit-radial-gradient(center center, ellipse closest-side, rgba(black, 0.85) 90%, darken(white, 25%) 100%) 100
  border-image: radial-gradient(center center, ellipse closest-side, rgba(black, 0.85) 90%, darken(white, 25%) 100%) 100

  li
    margin: 0 5%