nav
  font-size: 2.4rem
  font-weight: 100
  text-align: center
  text-transform: uppercase
  margin-bottom: 15px
  li
    list-style: none
    display: inline-block
    height: 49px
    background-color: rgba(#000000, 0.85)
    padding: 5px
    margin: 0 5%
    border-radius: 50px
    a
      display: inline-block
      padding: 10px
      background-color: #ffffff
      border-radius: 50px
      &:hover
        color: #ffffff
        background-color: $scribemaniaDarkGreen