nav
  width: 66px
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 1
  font-weight: 100
  text-align: center
  text-transform: uppercase
  border-right: 2px solid #e3e3e3
  box-shadow: 0 0 3px 2px lighten(#e3e3e3, 50%)
  ul
    padding-top: 56px
    font-size: 18px
  li
    display: block
    margin: 35px 0
  .about
    font-family: $titleFont
    font-weight: 300
    text-transform: none
    position: absolute
    bottom: 20px
    padding: 0 10px
    a:hover
      color: lighten($scribemaniaGreen, 15%)
