nav
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 1
  padding: 0 20px
  font-weight: 100
  text-align: center
  text-transform: uppercase
  border-right: 2px solid #e3e3e3
  box-shadow: 0 0 3px 2px lighten(#e3e3e3, 50%)
  ul
    padding-top: 56px
  li.button-icon
    display: block
    margin: 50px 0
  aside
    font-family: Raleway
    font-weight: 600
    text-transform: none
    position: absolute
    bottom: 20px

@media (max-width: 919px)
  nav
    top: auto
    right: 0
    padding: 7px 0
    background-color: rgba(#f8f8f8, 0.75)
    border-width: 0
    border-top: 2px solid #e3e3e3
    ul
      padding: 0
    li.button-icon
      display: inline-block
      margin: 0 5%
  aside
    display: none