.content
  max-width: $maxContentWidth
  width: 95%
  margin: 0 auto
  position: relative
  line-height: 1.6

@media (min-width: 920px) and (max-width: 1131px)
  .content
    margin-left: 120px
    width: 85%

section
  position: relative
  margin-top: 40px
  padding: 25px
  overflow: auto
  h2
    font: 22px $titleFont
    font-weight: 100
    line-height: 1.2
    a
      color: black
      &:hover
        color: $scribemaniaBlue
  a
    color: rgba($scribemaniaGreen, 0.7)
  p
    padding: 0 10px
    margin-bottom: 7px
  button
    float: right
    margin-top: 10px
  textarea, input
    font: 14px $storyFont
    box-sizing: border-box
    border-radius: 3px
    width: 100%
    padding: 5px
    border: 1px solid #babdc3
    border-width: 0.1rem
    outline: none
  textarea
    max-width: 100%
    min-height: 80px
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 1px 1px rgba(lighten($scribemaniaGreen, 75%), 0.2)

section.story
  textarea
    margin-top: 20px
    margin-bottom: 5px
    display: none
  .star
    margin-top: -2px
    float: right
    font-size: 11px
    font-style: italic
    color: rgba($scribemaniaBlue, 0.6)
    a
      color: rgba($scribemaniaBlue, 0.6)
      font-size: 16px
      padding-left: 5px
      &:hover
        color: $scribemaniaBlue
  .started-info
    line-height: 1.6rem
    padding: 0px 4px 15px 4px
    color: $scribemaniaBlue
    color: rgba($scribemaniaBlue, 0.6)
    font-size: 12px
    font-style: italic
    .started-name
      color: rgba($scribemaniaGreen, 0.7)
  .enter-hints, .read-more
    color: $scribemaniaGreen
    font-size: 11px
    font-style: italic
    .start-writing, .login-hint
      margin-top: 25px
      display: none
    .add-paragraph
      display: none
    .typing-users
      color: rgba($scribemaniaBlue, 0.7)
      margin-top: 5px
  .read-more
    margin-top: 15px
  &:last-of-type
    margin-bottom: 150px

section h2:after,
section .divider
  // add a "divider" after section titles
  margin-top: 10px
  content: ''
  display: block
  border: 0
  height: 0
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
  margin-bottom: 15px

.read-more .fa-angle-double-right
  color: $scribemaniaBlue
  color: rgba($scribemaniaBlue, 0.7)