@import "nib"

global-reset()

html5-reset()

$pageWidth = 1080px
$navWidth = 140px
$navBGGradient = 0
$scribemaniaGreen = #296e28
$storyBG = #F4F9F6
$headerBG = #1c1c1c
$storyFont = museo, "Lucida Grande", Helvetica, Arial, sans-serif

@font-face 
  font-family: 'Gibson-Regular'
  src: url('../fonts/Gibson-Regular.eot')
  src: url('../fonts/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gibson-Regular.woff') format('woff'),
       url('../fonts/Gibson-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

html
  font-size: 62.5%

body
  font-size: 16px
  font: 1.5rem $storyFont

header
  font-size: 28px
  background: $headerBG
  background: linear-gradient(top, lighten($headerBG, 5%), black);
  padding: 10px 0
  a
    color: $scribemaniaGreen

.page
  max-width: $pageWidth
  margin: 0 auto
  position: relative

 header h1
  margin-left: 40px

nav
  font-size: 18px
  font: 1.8rem raleway
  text-transform: uppercase
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: $navWidth
  li
    list-style: none
    padding: 10px  10px 10px 30px
    &:first-child
      margin-top: 10px
    &:last-child
      margin-bottom: 10px
    &.selected
      background-color: $storyBG
      border-radius: 40px
      a:hover
        color: black
        cursor: default

#content
  margin-left: $navWidth + 10px
  padding: 20px
  textarea
    font: 1.4rem $storyFont
    box-sizing: border-box
    padding: 7px
    margin-top: 20px
    width: 100%
    border-radius: 4px

.story
  background: $storyBG
  padding: 20px
  border-radius: 10px

a
  text-decoration: none
  &:hover
    color: lighten($scribemaniaGreen, 5%)

h2
  font-family: raleway
  text-align: center
  color: darken($scribemaniaGreen, 50%)
  padding-bottom: 15px
  font-size: 24px
  font-size: 2.4rem

em
  font-style: italic

.typekit-badge
  display: none !important