@import "nib"

global-reset()

html5-reset()

$pageWidth = 1080px
$navWidth = 100px
$navBGGradient = 0
$scribemaniaGreen = #296e28
$storyBG = #F4F9F6
$headerBG = #1c1c1c
$storyFont = museo, "Lucida Grande", Helvetica, Arial, sans-serif

@font-face
  font-family: 'Gibson-Regular'
  src: url('../fonts/Gibson-Regular.eot')
  src: url('../fonts/Gibson-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gibson-Regular.woff') format('woff'),
       url('../fonts/Gibson-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal

html
  font-size: 62.5%

body
  font-size: 16px
  font: 1.5rem $storyFont
  background: linear-gradient(top, #fff, #F7F7F7) fixed;

header
  font-size: 28px
  background: $headerBG
  background: linear-gradient(top, lighten($headerBG, 5%), black);
  padding: 10px 0
  margin-bottom: 20px
  a
    color: $scribemaniaGreen
  h1, .navicons
    display: inline-block
  .navicons
    float: right
    margin-right: 40px
    a
      padding-left: 10px

.page
  max-width: $pageWidth
  margin: 0 auto
  position: relative

 header h1
  margin-left: 40px

nav
  font-size: 18px
  font: 1.8rem raleway
  text-align: center
  text-transform: uppercase
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: $navWidth
  li
    list-style: none
    padding: 5px 0 5px 10px
    &:first-child
      margin-top: 10px
    &:last-child
      margin-bottom: 10px

#content
  margin-left: $navWidth
  padding: 10px

.story
  background: $storyBG
  padding: 20px
  border-radius: 10px
  h2
    font-family: raleway
    text-align: center
    color: darken($scribemaniaGreen, 50%)
    padding-bottom: 15px
    font-size: 22px
    font-size: 2.2rem
  p
    margin-bottom: 5px
  textarea
    font: 1.4rem $storyFont
    box-sizing: border-box
    padding: 7px
    margin-top: 10px
    width: 100%
    max-width: 100%
    min-height: 80px
    border-radius: 4px
    display: none
  .enter-hint
    font-size: 11px
    font-size: 1.1rem
    font-style: italic
    display: none

a
  text-decoration: none
  color: black
  &:hover
    color: lighten($scribemaniaGreen, 5%)

em
  font-style: italic

.typekit-badge
  display: none !important